{% extends 'base.html.twig' %}

{% block title %}{{parent() }} -Accueil{% endblock %}

{% block body %} 

<h1 class="pt-5">Bienvenue sur mon application</h1> 

<style>
h1 {
    color: #007bff;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    font-family: arial ;
}
h1:hover {
    color:rgb(0, 213, 241);
    text-decoration: none;
}

    ;


</style>
{% endblock %}
