{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Liste des Contacts</h1>

<div class="container pt-4">
    {% for leContact in lesContacts %}
    {{ include('contact/_ficheContact.html.twig' , {'mode': 'listeContacts'})}})
    </div>
    {% endfor %}
    </div>
{% endblock %}