{% extends 'base.html.twig' %}

{% block title %}Liste des Categories{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Liste des Categories</h1>
  <div class="row ">
    {% for laCategorie in lesCategories %}
      <div class="bon">
       <h4 class="card-header">{{laCategorie.libelle}} </h4>
          <img style="width: 250px; height: 200px; margin: auto;" src="{{ laCategorie.image }}" alt="Avatar">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ laCategorie.description }}</li>
          <div class="card-body">
            <a href="{{path('ficheContact' ,{'id': laCategorie.id})}}" class="btn btn-info">Voir le profil</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
 <style>
body{
  background-color: rgb(0, 0, 0);
}
   .card-header {
    background-color:rgb(7, 7, 7);
    color: white;
    font-size: 20px;
    text-align: center;
    
    margin-top: 0px;
    font-family: Roboto Mono ;
    border-radius: 1px;
    padding: 10px;
    border: 5px solid rgb(49, 49, 49);
  }
  .card-header:hover {
    color: rgb(180, 6, 6);
    text-decoration: none;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .card {
    animation: fadeIn 1s ease-in-out;
  }
  .card-header {
    animation: fadeIn 1s ease-in-out;
  }
  .card-body {
    animation: fadeIn 1s ease-in-out;
  }
  .list-group-item {
    font-size: 18px;
    background-color:rgb(0, 0, 0);
  }
 img {
  border : 10px solid rgb(0, 0, 0);
 }

 .card{
  background-color: rgb(126, 0, 0);
  border-radius: 10px;
  box-shadow: 1px 5px 5px 1px rgba(173, 6, 6, 0.86);

  }

  .text-center{ 
  color: black;
  text -decoration: none;
  font-size: 50px;
  font-family: "Liste des Contacts", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: rgb(146, 0, 0);
  }
  .text-center:hover{
  color: rgb(248, 248, 248);
  text-decoration: none;
  cursor: crosshair;

  }
  .card-body {
      padding: 20px;
      background-color:rgb(151, 0, 0);
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      margin-bottom: 20px;
      text-align: center;
      border: 1px solid #ccc;
  }
  .bon {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      display: block;
      width: 500px;
      display: inline-block;
      
  }
  
  .bon p {
      font-size: 14px;
      color: #333;
  }
</style>
{% endblock %}